/**
 * Styles for login page.
 */

.login_form {
    width: 350px;
    text-align: center;
}

.login_form a {
    font-weight: 600;
    color: black;
}

.login_form table {
    margin: 0 auto;
}

.login_form td {
    padding: 0.5em;
}