/**
 * Styles for User registration page.
 */

.register_form {
    width: 700px;
    margin: 0 auto;
}

.register_form a {
    font-weight: 600;
    color: black;
}

.register_form table {
    table-layout: fixed;
    margin: 0 auto;
    width: 600px;
}

.register_form td {
    padding: 0.4em;
    vertical-align: middle;
}