/* the overlayed element */
.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color: rgba(0,0,0,0.9);

    max-width:800px;
    min-height:200px;
    /*border:1px solid #666;*/

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

/* styling for elements inside overlay */
  .details {
  font-size: 1em;
  color:#fff;
  text-align: center;
  padding-bottom: 1em;
}

  .details h3 {
  color:#aba;
  font-size: 2em;
  font-weight: bolder;
}

  .simple_overlay img {
    max-width:100%;
    max-height:100%;
}